<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to my SenseHat!
    </h1>
    <form action="/send" method="post">
        <label for="message">Message:</label>
        <input type="text" id="message" name="message"><br><br>
        <label for="from">From:</label>
        <input type="text" id="from" name="from"><br><br>
        <input type="submit" value="Submit">
      </form>
</body>
</html>